attrs==17.4.0
bleach==1.5.0
click==6.7
cloudpickle==0.5.2
colorama==0.3.9
cycler==0.10.0
Cython==0.27.3
decorator==4.2.1
enum34==1.1.6
flask>=0.12.3
flatbuffers==2015.12.22.1
funcsigs==1.0.2
html5lib==0.9999999
ipython==6.2.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.2
numpy==1.14.0
opencv-python==3.4.0.12
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==5.0.0
pkg-resources==0.0.0
pluggy==0.6.0
prompt-toolkit==1.0.15
protobuf==3.5.1
psutil==5.4.3
ptyprocess==0.5.2
py==1.5.2
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.3.2
python-dateutil==2.6.1
pytz==2017.3
pyyaml>=4.2b1
-e git+git@github.com:pschafhalter/ray.git@bd32ee8bc8ca8cf09985d6b77864918e54bcfd00#egg=ray&subdirectory=python
redis==2.10.6
scikit-video==1.1.10
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
tensorflow-gpu==1.4.1
tensorflow-tensorboard==0.4.0
torch==0.3.0.post4
torchvision==0.2.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.14.1
